<div class="modal-overlay-dtls" id="dtls-modal">
  <div class="modal-window">
    <button class="modal-close-btn" type="button" data-modal-close>
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-content">
      <div class="modal-image-wrap">
        <img
          src="https://res.cloudinary.com/dprfmsunw/image/upload/f_auto/q_auto/pets-list_t8aqze.png"
          alt="Фото тваринки"
          class="modal-image"
        />
      </div>

      <div class="modal-info">
        <div class="modal-info-part">
          <p class="modal-species">Собака</p>
          <h2 class="modal-name bold">Джек</h2>
          <div class="modal-meta">
            <span class="modal-age">4 роки</span>
            <span class="modal-gender">Хлопчик</span>
          </div>
        </div>

        <div class="modal-info-part">
          <h3 class="modal-info-h3 semi-bold">Опис:</h3>
          <p class="modal-info-text">
            Цей пухнастик має унікальну історію та чекає на люблячу родину. Його
            характер — спокійний та дружелюбний. Повністю здоровий,
            вакцинований, привчений до лотка. Ідеально ладнає з дітьми та іншими
            тваринами, тому стане чудовим другом для всієї сім'ї.
          </p>
        </div>

        <div class="modal-info-part">
          <h3 class="modal-info-h3 semi-bold">Здоров'я:</h3>
          <p class="modal-info-text">
            Здоровий, кастрований, вакцинований. Потребує регулярного
            вичісування шерсті.
          </p>
        </div>

        <div class="modal-info-part">
          <h3 class="modal-info-h3 semi-bold">Поведінка:</h3>
          <p class="modal-info-text">
            Бажано бути єдиною твариною в сім'ї. Не любить конкуренції за увагу.
          </p>
        </div>
        <button type="button" class="modal-info-btn regular">
          Взяти додому
        </button>
      </div>
    </div>
  </div>
</div>
