<footer class="footer">
    <section class="footer-section">
      <div class="footer-container container">
        <a class="footer-link" href="">
          <svg class="footer-logo" viewBox="0 0 111 37">
            <use href="img/logo.svg"></use>
          </svg>
        </a>
        <ul class="footer-list-links">
          <li class="footer-item-link">
            <a href="#About-us">Про нас</a>
          </li>
          
          <li class="footer-item-link">
            <a href="#Pet-list">Знайти друга</a>
          </li>

          <li class="footer-item-link">
            <a href="#FAQ">Часті запитання</a>
          </li>

          <li class="footer-item-link">
            <a href="#Success-stories">Історії успіху</a>
          </li>
        </ul>

        <ul class="footer-list-socials">
          <li class="footer-item-social">
            <a href="https://www.facebook.com/">
              <svg width="32" height="32">
                <use href="img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="footer-item-social">
            <a href="https://www.instagram.com/">
              <svg width="32" height="32">
                <use href="img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>

        <div class="footer-privacy">
          <p class="footer-privacy-text"><span>&#169;</span> 2025 Хатинка лапок. Всі права захищені.</p>
        </div>
      </div>
  </section>
</footer>
