<section class="pets-section" id="find-friend">
  <div class="container">
    <h2 class="section-title">Наші хвостики</h2>
    <h3 class="section-subtitle">Вони дуже чекають на знайомство з вами</h3>
    <div class="pets-list-wrapper">
      <ul class="pets-list">
        <li>
          <button type="button" class="filter-btn active">Всі</button>
        </li>
        <li>
          <button type="button" class="filter-btn">Собаки</button>
        </li>
        <li>
          <button type="button" class="filter-btn">Коти</button>
        </li>
        <li>
          <button type="button" class="filter-btn">Кролики</button>
        </li>
        <li>
          <button type="button" class="filter-btn">Гризуни</button>
        </li>
        <li>
          <button type="button" class="filter-btn">Птахи</button>
        </li>
        <li>
          <button type="button" class="filter-btn">
            Тварини з особливими потребами
          </button>
        </li>
        <li>
          <button type="button" class="filter-btn">
            Терміново шукають дім
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
