<section class="section pets-section" id="find-friend">
  <div class="container">
    <h2 class="section-title">Наші хвостики</h2>
    <h3 class="section-subtitle">Вони дуже чекають на знайомство з вами</h3>
    <div class="pets-list-wrapper">
      <ul class="pets-list">
        <li>
          <button type="button" class="filter-btn active" data-category="all">
            Всі
          </button>
        </li>
        <li>
          <button type="button" class="filter-btn" data-category="dogs">
            Собаки
          </button>
        </li>
        <li>
          <button type="button" class="filter-btn" data-category="cats">
            Коти
          </button>
        </li>
        <li>
          <button type="button" class="filter-btn" data-category="rabbits">
            Кролики
          </button>
        </li>
        <li>
          <button type="button" class="filter-btn" data-category="rodents">
            Гризуни
          </button>
        </li>
        <li>
          <button type="button" class="filter-btn" data-category="birds">
            Птахи
          </button>
        </li>
        <li>
          <button type="button" class="filter-btn" data-category="special">
            Тварини з особливими потребами
          </button>
        </li>
        <li>
          <button type="button" class="filter-btn" data-category="urgent">
            Терміново шукають дім
          </button>
        </li>
      </ul>
    </div>
    <ul class="pets-cards"></ul>
    <button type="button" class="load-more-btn">Показати більше</button>
  </div>
</section>
