<section class="success-stories" id="success-stories">
  <div class="container">
    <h2 class="success-stories-title">Щасливі історії, що надихають</h2>
    <h3 class="success-stories-subtitle">
      Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
    </h3>

    <div class="swiper feedback-swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper js-feedback-container">
        <!-- Slides -->
      </div>

      <div class="pagination-wrapper">
        <div class="swiper-pagination feedback-swiper-pagination"></div>
        <button type="button" class="arrow-button arrow-button-back js-button-back">
          <svg class="button-arrow-icon" width="24" height="24">
            <use href="../img/sprite.svg#icon-arrow-back"></use>
          </svg>
        </button>
        <button type="button" class="arrow-button arrow-button-forward js-button-forward">
          <svg class="button-arrow-icon" width="24" height="24">
            <use href="../img/sprite.svg#icon-arrow-forward"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
