<!-- ---------------------------------Розмітки одного відгука--------------------------------- -->
<!-- <ul class="feedback-list">
      <li class="feedback-item">
        <p class="feedback-comment">
          Ми довго вагалися, чи готові до собаки, але коли побачили на сайті
          Хатинки фото Арчі, зрозуміли — це наш. Тепер ми не уявляємо ранків без
          його веселого гавкоту та вечорів без спільних прогулянок. Він приніс у
          наш дім стільки сміху та любові! Дякуємо „Хатинці лапок“ за нашого
          найкращого друга.
        </p>
        <p class="feedback-author">Марина та Сергій</p>
      </li>
    </ul> -->
<section class="success-stories" id="success-stories">
  <div class="container">
    <h3 class="success-stories-title">Щасливі історії, що надихають</h3>
    <h4 class="success-stories-subtitle">
      Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
    </h4>
  </div>
</section>
