<section class="success-stories" id="success-stories">
  <div class="container">
    <h3 class="success-stories-title">Щасливі історії, що надихають</h3>
    <h4 class="success-stories-subtitle">
      Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
    </h4>
    <ul class="feedback-list">
      <li class="feedback-item">
        <div class="rating value-3 star-svg">
          <div class="star-container" id="stars-wrapper">
            <div class="star">
              <svg class="star-empty" id="empty-black-star">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="../img/sprite.svg#icon-star-empty"
                ></use>
              </svg>
              <svg class="star-filled" id="filled-black-star">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="../img/sprite.svg#icon-star-filled"
                ></use>
              </svg>
            </div>
            <div class="star">
              <svg class="star-empty" id="empty-black-star">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="../img/sprite.svg#icon-star-empty"
                ></use>
              </svg>
              <svg class="star-filled" id="filled-black-star">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="../img/sprite.svg#icon-star-filled"
                ></use>
              </svg>
            </div>
            <div class="star">
              <svg class="star-empty" id="empty-black-star">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="../img/sprite.svg#icon-star-empty"
                ></use>
              </svg>
              <svg class="star-filled" id="filled-black-star">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="../img/sprite.svg#icon-star-filled"
                ></use>
              </svg>
            </div>
            <div class="star">
              <svg class="star-empty" id="empty-black-star">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="../img/sprite.svg#icon-star-empty"
                ></use>
              </svg>
              <svg class="star-filled" id="filled-black-star">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="../img/sprite.svg#icon-star-filled"
                ></use>
              </svg>
            </div>
            <div class="star">
              <svg class="star-empty" id="empty-black-star">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="../img/sprite.svg#icon-star-empty"
                ></use>
              </svg>
              <svg class="star-filled" id="filled-black-star">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="../img/sprite.svg#icon-star-filled"
                ></use>
              </svg>
            </div>
          </div>
        </div>
        <p class="feedback-comment">
          Ми довго вагалися, чи готові до собаки, але коли побачили на сайті
          Хатинки фото Арчі, зрозуміли — це наш. Тепер ми не уявляємо ранків без
          його веселого гавкоту та вечорів без спільних прогулянок. Він приніс у
          наш дім стільки сміху та любові! Дякуємо „Хатинці лапок“ за нашого
          найкращого друга.
        </p>
        <p class="feedback-author">Марина та Сергій</p>
      </li>
         <li class="feedback-item">
        <div class="rating value-3 star-svg">
          <div class="star-container" id="stars-wrapper">
            <div class="star">
              <svg class="star-empty" id="empty-black-star">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="../img/sprite.svg#icon-star-empty"
                ></use>
              </svg>
              <svg class="star-filled" id="filled-black-star">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="../img/sprite.svg#icon-star-filled"
                ></use>
              </svg>
            </div>
            <div class="star">
              <svg class="star-empty" id="empty-black-star">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="../img/sprite.svg#icon-star-empty"
                ></use>
              </svg>
              <svg class="star-filled" id="filled-black-star">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="../img/sprite.svg#icon-star-filled"
                ></use>
              </svg>
            </div>
            <div class="star">
              <svg class="star-empty" id="empty-black-star">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="../img/sprite.svg#icon-star-empty"
                ></use>
              </svg>
              <svg class="star-filled" id="filled-black-star">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="../img/sprite.svg#icon-star-filled"
                ></use>
              </svg>
            </div>
            <div class="star">
              <svg class="star-empty" id="empty-black-star">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="../img/sprite.svg#icon-star-empty"
                ></use>
              </svg>
              <svg class="star-filled" id="filled-black-star">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="../img/sprite.svg#icon-star-filled"
                ></use>
              </svg>
            </div>
            <div class="star">
              <svg class="star-empty" id="empty-black-star">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="../img/sprite.svg#icon-star-empty"
                ></use>
              </svg>
              <svg class="star-filled" id="filled-black-star">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="../img/sprite.svg#icon-star-filled"
                ></use>
              </svg>
            </div>
          </div>
        </div>
        <p class="feedback-comment">
          Ми довго вагалися, чи готові до собаки, але коли побачили на сайті
          Хатинки фото Арчі, зрозуміли — це наш. Тепер ми не уявляємо ранків без
          його веселого гавкоту та вечорів без спільних прогулянок. Він приніс у
          наш дім стільки сміху та любові! Дякуємо „Хатинці лапок“ за нашого
          найкращого друга.
        </p>
        <p class="feedback-author">Марина та Сергій</p>
      </li>
    </ul>

    <div class="arrow-button-wrapper">
      <button type="button" class="arrow-button">
        <svg class="button-arrow-icon" width="24" height="24">
          <use href="../img/sprite.svg#icon-arrow-back"></use>
        </svg>
      </button>
      <button type="button" class="arrow-button">
        <svg class="button-arrow-icon" width="24" height="24">
          <use href="../img/sprite.svg#icon-arrow-forward"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
