.section-about-us {
  padding: 64px 0;
}

.swiper-about {
  width: 100%;
  height: auto;
}

.section-about-us .section-title {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #02060a;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.swiper-about .about-us-swiper-wrapper {
  display: flex;
}

.swiper-about .swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 50%);
}

.swiper-about .swiper-slide {
  aspect-ratio: 335 / 404;
  /* width: 335px;
  height: 402px; */
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.swiper-about .swiper-image {
  width: 100%;
  aspect-ratio: 335 / 404;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 1;
}

.swiper-about .swiper-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f6f4f1;
  padding: 20px;
  z-index: 3;
  margin: 0;
}

.swiper-about .swiper-controls {
  display: flex;
  align-items: center;
  margin-top: 24px;
  --swiper-pagination-color: #02060a !important;
}

.about-us-button-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  margin-left: auto;
}
.swiper-about .about-us-swiper-pagination {
  position: static !important;
  width: auto !important;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 0;
}

.swiper-nav-mobile {
  display: flex;
  gap: 16px;
}

.swiper-nav-desktop {
  display: none;
}

.about-btn-prev,
.about-btn-next {
  margin: 0 !important;
  display: flex;
  background-color: #eee9e3;
  border: 1px solid #c3b49d;
  border-radius: 8px;
  padding: 12px;
  width: 48px;
  height: 48px;
  transition:
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-btn-prev:disabled,
.about-btn-next:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.swiper-pagination {
  transform: translateX(0) !important;
}
.about-btn-next:not(:disabled):hover,
.about-btn-next:not(:disabled):focus,
.about-btn-prev:not(:disabled):hover,
.about-btn-prev:not(:disabled):focus {
  border: 1px solid rgba(2, 6, 10, 0.6);
}

.about-btn-next:not(:disabled):active,
.about-btn-prev:not(:disabled):active {
  box-shadow:
    inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.about-arrow-icon {
  stroke: #02060a;
}

@media (max-width: 768px) {
  .swiper-about .swiper-slide-right .swiper-image {
    object-position: right center;
  }
}

@media (min-width: 768px) {
  .swiper-about .swiper-controls {
    justify-content: center;
  }
  .slider-wrapper {
    position: relative;
    max-width: 704px;
    margin: 0 auto;
  }

  .swiper-about .swiper-slide {
    aspect-ratio: 704 / 404;
  }
  .swiper-about .swiper-image {
    aspect-ratio: auto;
  }

  .swiper-about .swiper-text {
    padding: 32px;
    width: 80%;
  }

  .swiper-about .swiper-pagination-bullet-active {
    transform: scale(1);
  }

  .swiper-about .swiper {
    position: relative;
  }

  .swiper-nav-mobile {
    display: none;
  }

  .swiper-nav-desktop {
    display: flex;
  }

  .about-us-button-wrapper .about-btn-prev,
  .about-us-button-wrapper .about-btn-next {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
  }

  .about-us-button-wrapper .about-btn-prev {
    left: 0;
    transform: translate(-50%, -50%);
  }

  .about-us-button-wrapper .about-btn-next {
    right: 0;
    transform: translate(50%, -50%);
  }

  .about-us-button-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
  }

}

@media (min-width: 1440px) {
  .slider-wrapper {
    max-width: 1312px;
  }

  .swiper-about .swiper-slide {
    aspect-ratio: 1312 / 753;
  }
  .swiper-about.swiper-image {
    aspect-ratio: auto;
  }

  .swiper-about .swiper-text {
    font-size: 18px;
    padding: 64px;
    max-width: 51%;
  }

  .swiper-about .swiper-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

    display: flex;

    transform: translateY(-50%);
    z-index: 10;

    margin-top: 0;
  }

  .slider-wrapper .about-btn-prev,
  .slider-wrapper .about-btn-next {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
  }

  .slider-wrapper .about-btn-prev {
    left: 0;
    transform: translate(-50%, -50%);
  }

  .slider-wrapper .about-btn-next {
    right: 0;
    transform: translate(50%, -50%);
  }
}
